<html>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
</head>
<body>
<h2>Your PlyWood Sheets</h2>
<form method="post" action="/plysheetview">
<input type="hidden" value= <%=idd %>  name="idd" />
<% sheetNums.forEach(function(sh){%>
<div class="radio"><label><input type="radio" name="sheet" 
value=<%= sh.sheet %>>
<%=sh.buttonText %></label>
</div>


<% }) %>
<button type="submit" >submit </button>
</form>

</body>
</html>
